$color-primary: #2e223c;

$color-secondary-light: #1baff3;

$color-tertiary-light: #74757e;
$color-tertiary-dark: #393e45;

$color-grey-light-1: #f7f7f7;

$color-white: #ffffff;
$color-black: #000;

//font
$default-font-size: 1.6rem;

$margin-very-big: 20rem;
$margin-big: 10rem;
$margin-medium: 5rem;
$margin-small: 2rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
