.main-content {
  background-color: #282a3a;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  text-align: center;
  h1 {
    padding: 2rem 0;
    font-size: 3rem;
  }

  
}

