* {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

body {
  background-color: #2e223c;
}

img {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
