.main-content {
    display: grid;
    justify-items: center;
    font-size: 1.0em;
    box-sizing: border-box;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projects-view {
    background-color: #ffbb00;
    padding: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.0rem;
}

.card {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 5px;
   padding: 10px;
   box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(35, 12, 43, 0.75);
   -o-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(35, 12, 43, 0.75);
   -webkit-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(35, 12, 43, 0.75);
   -moz-box-shadow: 8px 10px 10px rgba(0,0,0,0.5),
   inset 8px 10px 10px rgba(35, 12, 43, 0.75);
}

.card-img {
    width: 70%;
    height: auto;
}

.card-img  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.card-header {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.card-header h2, a {
    text-transform: uppercase;
}

i {
    padding: 2px 12px;
    color: #fff;
}

a, button{ 
    margin: 10px 0;
    text-decoration: none;
    background-color: #ffbb00;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}


a:hover, .projects-view:hover  {
background: #b6becb;
border-color: #a18ac0 !important;
transition: all 0.4s ease 0s;
}

@media screen and (min-width: 780px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        min-height: 400px;
    }
    .card-img {
        padding-left: 1.9em;
        width: 100%;
    }
}

