.about-container {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  display: grid;
  justify-content: center;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  h1 {
    margin: 0 auto;
  }
  img {
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
    max-width: 400px;
    margin: 0 auto;
  }

  p {
    max-width: 400px;
    font-size: 1.1rem;
  }
}
