.social {
 height: 20vh; 
  ul {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    li {
      display: block;
      a {
        font-size: 3rem;
        color: #fff;
      }

      a:hover {
        color: #ffd700;
      }
    }
  }
}

.logo {
  margin: 0 auto;
  text-align: center;
}

.logo {
  a {
    max-width: 300px;
    margin: 0 auto;
  }
}

.logo svg {
  height: 200px;
}

#drawLogo {
  stroke-dasharray: 34525.25390625;
  stroke-dashoffset: 34525.25390625;
  animation: sign 7s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
