.styleTypical {
  height: 5rem;
  margin-bottom: 10rem;
}

.arrow-down {
  display: none;
}

@keyframes cardMoveIn {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.about-wrapper {
  animation: cardMoveIn 3s ease-out;
  position: relative;
  width: 300px;
  margin-bottom: $margin-medium;
  margin-top: $margin-medium;
  height: 70vh;
  font-size: $default-font-size;
  overflow: hidden;
}

.about-image-display-relative {
  position: relative;
  width: 100%;
  height: 80%;
}

.aboutImage {
  object-fit: cover;
}

.about-content-display-absolute {
  position: absolute;
  top: 60%;
  padding: 10px 20px;
  max-width: 300px;
  max-height: 300px;
  background-color: #b6becb;
  border-radius: 15px 50px;
}

@media screen and (min-width: 430px) {
  .about-wrapper {
    max-height: 100%;
  }

  .arrow-down {
    display: block;
    height: 50px;
    animation: blink 1s infinite;
    position: relative;
    z-index: 99;
    color: #fff;
  }
  @keyframes blink {
    0% {
      opacity: 3;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 3;
    }
  }
}
