.footer {
  margin-top: $margin-big;
  display: grid;
  color: $color-white;
  text-align: center;
  padding: 20px;
  min-height: 20vh;
  background-color: $color-secondary-light;
  min-width: 100vw;
}

.footer {
  a:not(:last-child) {
    text-transform: lowercase;
  }
  a:last-child {
    color: $color-white;
    text-decoration: none;
  }
}

.footer P {
  font-size: $default-font-size + 1rem;
}
