.footer {
    margin-top: 10rem;
    display: grid;
    color: #fff;
    text-align: center;
    padding: 20px;
    min-height: 20vh;
    background-color: #1baff3;
    min-width: 100vw;
  }
  
  .footer {
    a:not(:last-child) {
      text-transform: lowercase;
    }
    a:last-child {
      color: #fff;
      text-decoration: none;
    }
  }
  
  .footer P {
    font-size:  1.6rem + 1rem;
  }
  